
/* 
.app {
  text-align: center;
  padding: 0;
  margin: 0;
  
}

.title {
  text-decoration: none;
}

.header {
  background-color: lightblue;
}

.levels,
.games,
.scoreLine {
  margin: 32px;
}

.photo {
  width: auto;
  height: 250px;
}

.instructions,
.score {
  margin-top: 50px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsWorld {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}

.answerButton,
.scoreButton {
  width: 200px;
  margin: 10px;
}

a:visited {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #28abb9;
}

.jesus {
  height: 60px;
  margin-left: -10px;
} */

/* .footer {
  background-color: #0278ae;
  text-align: center;
} */

/* .footerText {
  vertical-align: middle;
  line-height: 50px;
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .footerText {
    vertical-align: middle;
    line-height: 50px;
    color: white;
    font-size: 12px;
  }
} */

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  background-color: red;
  height: 50px;
  flex-shrink: 0;
}