.appParent {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app {
  flex: 1;
}

.logoAndSlogan {
  height: 300px;
}

.footerText {
  vertical-align: middle;
  color: white;
  font-size: 14px;
}

.footer {
  text-align: center;
  background-color: #0278ae;
}

.title {
  text-decoration: none;
  font-size: 10px;
}

.header {
  background-color: lightblue;
}

.levels,
.games,
.scoreLine {
  margin: 32px;
}

.photo {
  width: auto;
  height: 250px;
}

.instructions,
.score {
  margin-top: 50px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsWorld {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}

.answerButton,
.scoreButton {
  width: 200px;
  margin: 10px;
}

a:visited {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #28abb9;
}

.super {
  height: 60px;
  margin-bottom: -10px;
  margin-left: -10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  width: 400px;
  margin: 5px;
  height: 30px;
}

textarea {
  height: 150px;
}

.componentContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  line-height: 40px;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

button:hover,
button:focus {
  outline: 0;
  background-position: 0;
  border-color: #f4abc4;
  color: #363636;
}

.playing {
  color: #fff;
  background: #0278ae;
  border-color: #0278ae;
  background-image: linear-gradient(45deg, #f4abc4 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 300ms ease-in-out;
}

.makeStyles-menuButton-2 {
  margin-right: 16px;
}

@media screen and (max-width: 992px) {
  .footerText {
    font-size: 12px;
  }

  .componentContainer {
    padding: 20px;
  }
}
