.app {
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 156px);
}

.title {
  text-decoration: none;
  font-size: 10px;
}

.header {
  background-color: lightblue;
}

.levels,
.games,
.scoreLine {
  margin: 32px;
}

.photo {
  width: auto;
  height: 250px;
}

.instructions,
.score {
  margin-top: 50px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsWorld {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}

.answerButton,
.scoreButton {
  width: 200px;
  margin: 10px;
}

a:visited {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #28abb9;
}

.jesus {
  height: 60px;
  margin-left: -10px;
}

.footerText {
  vertical-align: middle;
  line-height: 50px;
  color: white;
  font-size: 14px;
}

.footer {
  text-align: center;
  height: 50px;
  background-color: #0278ae;
}

.textContainer {
  margin: 50px 20px 50px 20px;
  line-height: 40px;  
}

@media screen and (max-width: 992px) {
  .footerText {
    font-size: 12px;
  }

  .jesus {
    height: 45px;
  }
}
